@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config) {
  $primary-palette: map.get($config, primary);

  routine-members{
    border-color: mat.get-color-from-palette($primary-palette, 500) !important;
    background-color: mat.get-color-from-palette($primary-palette, 100) !important;
    color: mat.get-contrast-color-from-palette($primary-palette, 100) !important;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null { @include color($color-config); }
}