<shared-layout text="Listado Ejercicios" [loading]="isLoading" [loadingDM]="isLoadingDM">
  <mat-nav-list class="padding" *ngIf="exercises.length; else emptyBanner">
    <exercise-item *ngFor="let exercise of exercises" [exercise]="exercise" (loading)="isLoading = $event"></exercise-item>
  </mat-nav-list>

  <button mat-fab (click)="create()" class="absolute">
    <mat-icon>add</mat-icon>
  </button>
</shared-layout>

<ng-template #emptyBanner>
  <shared-empty-banner>
    <mat-icon color="accent">fitness_center</mat-icon>
    <h3>No hay ejercicios</h3>
    <p>Crea nuevos ejercicios para gestionar correctamente tus rutinas</p>
  </shared-empty-banner>
</ng-template>
