<auth-wrapper [isLoading]="inProgress">
  <form [formGroup]="form" (submit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <mat-icon color="primary" matIconPrefix>email</mat-icon>
      <mat-error>{{ form.controls.email.errors | error }}</mat-error>
      <input
        type="email"
        placeholder="Ingrese su email"
        autocomplete="email"
        formControlName="email"
        matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <mat-icon color="primary" matIconPrefix>password</mat-icon>
      <mat-error>{{ form.controls.password.errors | error }}</mat-error>
      <input
        type="password"
        placeholder="Ingrese su contraseñá"
        autocomplete="current-password"
        formControlName="password"
        matInput />
    </mat-form-field>

    <button
      type="submit"
      color="accent"
      [disabled]="form.invalid"
      mat-stroked-button>
      Ingresar
    </button>
  </form>
</auth-wrapper>
