<mat-card-header>
  <mat-card-title>Login</mat-card-title>
</mat-card-header>
<mat-card-content>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <mat-icon matIconPrefix>email</mat-icon>
      <input type="email" autocomplete="email" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <mat-icon matIconPrefix>password</mat-icon>
      <input type="password" autocomplete="current-password" matInput />
    </mat-form-field>

    <button type="submit" mat-flat-button>Sign In</button>
  </form>
</mat-card-content>
