@import "breakpoints";

:host{
  display: flex;
  flex-direction: column;
  width: 100%;

  figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0;
    position: relative;
    img{
      width: 60%;
      padding: 1rem;
      box-sizing: border-box;
    }
  }

  mat-card{
    width: 100%;
    padding: 0 1.5rem;

    mat-card-header{
      justify-content: center;
      padding: 1rem;
    }
    mat-card-content{
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
    mat-card-footer{
      display: flex;
      justify-content: center;
      gap: .5rem;
      padding: 1rem;
    }
  }
}

:host::ng-deep{
  mat-progress-bar{
    position: absolute;
    top: 0;
    left: 0;
  }
  form{
    mat-form-field, button{ width: 100%; }
  }
}

@media #{$media-xsmall}{
  :host{
    flex: 1;
    mat-card{
      border-radius: 0;
      flex-grow: 1;
      padding: 0;
    }
  }
}