<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<routine-week-day [days]="routine.daysOfWeek" (changeDay)="this.$day.next($event)"></routine-week-day>

<mat-nav-list>
  <ng-container *ngFor="let schemes of schemesDM; let last = last">
    <routine-exercise *ngFor="let scheme of schemes" [scheme]="scheme"></routine-exercise>
    <mat-divider *ngIf="!last && schemes.length"></mat-divider>
  </ng-container>
</mat-nav-list>

<button mat-fab class="absolute" (click)="create()">
  <mat-icon>add</mat-icon>
</button>
