<auth-wrapper>
  <mat-card appearance="outlined">
    @if (isLoading()) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <mat-card-content>
      <form [formGroup]="form" (submit)="submit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <mat-icon matIconPrefix>email</mat-icon>
          <mat-error>{{ form.controls.email.errors | error }}</mat-error>
          <input type="email" autocomplete="email" formControlName="email" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <mat-icon matIconPrefix>password</mat-icon>
          <mat-error>{{ form.controls.password.errors | error }}</mat-error>

          <input type="password" autocomplete="new-password" formControlName="password" matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <mat-icon matIconPrefix>password</mat-icon>
          <mat-error>{{ form.controls.confirm.errors | error }}</mat-error>
          <input type="password" autocomplete="new-password" formControlName="confirm" matInput />
        </mat-form-field>

        <button type="submit" mat-flat-button>Sign Up</button>
      </form>
    </mat-card-content>

    <mat-card-footer>
      <p>Already have an account? <a routerLink="/login">Login here</a></p>
    </mat-card-footer>
  </mat-card>
</auth-wrapper>
