:host {
  display: flex;
  height: 100%;
  background-color: pink;

  main, aside{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
  }

  main {
    mat-card {
      min-width: 20rem;
      width: 50%;
    }
  }

  aside {
    flex-direction: column;
    border-radius: 0% 100% 100% 0% / 100% 0% 100% 0%;
    gap: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &[orientation=right]{
    flex-direction: row-reverse;
    aside {
      flex-direction: column-reverse;
      border-radius: 100% 0% 0% 100% / 100% 100% 0% 0%;
    }
  }
}

:host::ng-deep {
  form {
    display: flex;
    flex-direction: column;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
  }
}
