@use 'breakpoints';

:host{
  align-items: center;
  background-color: rebeccapurple;
  padding: 1rem;
  gap: 1rem;
}

img{
  max-height: 10rem;
  // width: 100px;
  height: 40vh;
  width: min-content;
}

header{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: min-content;
}
main{
  flex-grow: 9;
  min-width: breakpoints.$screen-xsmall;
}
