@use 'sass:map';
@use '@angular/material' as mat;

:host{
    display: flex;
    flex-direction: column;
    flex: 1;

    mat-tab-group{
        flex: 1;
    }
}

input.mat-datepicker-input{
    display: none;
}

:host ::ng-deep {
    .mat-mdc-tab-body-wrapper { flex: 1; }
    .mat-bottom-sheet-container { padding: 0; }
}

@mixin color($config){
    $primary-palette: map.get($config, primary);

    mat-list-item, mat-list-option{
        mat-icon, h5 {
            color: mat.get-color-from-palette($primary-palette, 500) !important;
        }
    }
}

@mixin theme($theme){
    $color-config: mat.get-color-config($theme);

    @if $color-config != null { @include color($color-config); }
};
