:host{
    display: flex;
    flex-direction: column;
    flex: 1;

    mat-tab-group{
        flex: 1;
    }
}

input.mat-datepicker-input{
    display: none;
}

:host ::ng-deep {
    .mat-mdc-tab-body-wrapper { flex: 1; }
    .mat-bottom-sheet-container { padding: 0; }
}