:host::ng-deep{
    .mat-mdc-tab-body-wrapper{
        flex-grow: 1;
    }
}

input.mat-datepicker-input{
    display: none;
}

.empty-banner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;

    mat-icon{
        font-size: 5rem;
        width: 5rem;
        height: 5rem;
    }
    h4{
        font-size: 1.5rem;
        text-align: center;
    }
}