@use 'sass:map';
@use '@angular/material' as mat;
@import "../../../../../variables.scss";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  mat-card {
    width: 100%;
    height: 100%;
    justify-content: center;

    @media #{$small-and-down}{
      border-radius: 0;
    }

    @media #{$medium-and-up}{
      width: 70%;
      margin-top: 1rem;
      max-width: 400px;
      height: auto;
    }

    mat-progress-bar{
      position: absolute;
      top: 0;
    }

    mat-card-header {
      mat-card-title-group{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
      }
    }

    mat-card-content form {
      display: flex;
      flex-direction: column;

      button[type="submit"]{
        margin: 15px 0;
      }
    }
  }
}

// Theming
@mixin color($config) {
  $primary-palette: map.get($config, primary);

  auth-login{
    background-color: mat.get-color-from-palette($primary-palette, 500);
  }
};

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null { @include color($color-config); };
};