<auth-wrapper [isLoading]="isLoading" text="Iniciar Sesión">
  <mat-card-content>
    <form [formGroup]="form" (submit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput placeholder="Ingrese su Email" />
        <mat-error> El campo es obligatorio </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input [type]="visibilityType()" matInput formControlName="password" placeholder="Ingrese su Contraseña" />
        <button type="button" mat-icon-button matSuffix (click)="visibilityToggle($event)" tabindex="-1">
          <mat-icon>{{ visibilityIcon() }}</mat-icon>
        </button>
        <mat-error>El campo es obligatorio</mat-error>
      </mat-form-field>

      <button type="submit" mat-stroked-button color="accent">Ingresar</button>
    </form>
  </mat-card-content>
  <mat-card-footer> No tienes cuenta? <a routerLink="/register">Registrate aqui</a></mat-card-footer>
</auth-wrapper>
