@import "breakpoints";

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img{
    @media #{$media-small-up}{
      max-height: 40vh;
    };
  };

  mat-card {
    width: 100%;
    height: 100%;
    justify-content: center;

    @media #{$media-small-down}{
      border-radius: 0;
    }

    @media #{$media-small-up}{
      width: 70%;
      margin-top: 1rem;
      max-width: 400px;
      height: auto;
    }

    mat-progress-bar{
      position: absolute;
      top: 0;
    }

    mat-card-header {
      mat-card-title-group{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
      }
    }

    mat-card-content form {
      display: flex;
      flex-direction: column;

      button[type="submit"]{
        margin: 15px 0;
      }
    }
  }
}