:host{
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 1;

    div{
        display: flex;
        flex-direction: column;
    }
    
    mat-chip-listbox + mat-select{
        display: none;
    }
}