<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="push">
    <ng-container *ngTemplateOutlet="MenuNavigation"></ng-container>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button type="button" (click)="drawer.toggle()" *ngIf="!layout.back && !layout.close; else backNavigation">
        <mat-icon>menu</mat-icon>
      </button>

      <h1>{{ layout.title | titlecase }}</h1>

      <ng-container *ngFor="let action of layout.actions">
        <button mat-icon-button [type]="action.type || 'button'" (click)="onAction(action._id)">
          <mat-icon>{{ action.icon }}</mat-icon>
        </button>
      </ng-container>
    </mat-toolbar>
    <section>
      <article *ngIf="!loading; else loadingScreen">
        <ng-content></ng-content>
      </article>
    </section>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #loadingScreen>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #MenuNavigation>
  <mat-nav-list>
    <mat-list-item
      *ngFor="let shortcut of navigation.menu"
      [routerLink]="[shortcut.link]"
      [routerLinkActiveOptions]="routerLinkOptions"
      routerLinkActive="active"
      (click)="navigation.onNavigation(shortcut._id)">
      <mat-icon matListItemIcon>{{ shortcut.icon }}</mat-icon>
      <span matListItemTitle>{{ shortcut.label | titlecase }}</span>
    </mat-list-item>
  </mat-nav-list>
</ng-template>

<ng-template #backNavigation>
  <button mat-icon-button (click)="navigate()" type="button">
    <mat-icon>{{ layout.close ? 'close' : 'arrow_back' }}</mat-icon>
  </button>
</ng-template>
