@import "breakpoints";

:host{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;

    mat-nav-list{
        mat-list-item.active{
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    mat-drawer-container{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;

        mat-drawer-content{
            display: flex;
            flex-direction: column;
            flex: 1;

            mat-toolbar{
                min-height: 64px;
                @media #{$media-xsmall}{ min-height: 56px; }
                h1{
                    padding: 0 .25rem;
                    width: 100%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            section{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                overflow-y: auto;
                padding-top: 0px;
                flex: 1;

                article{
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    position: relative;
                    width: 100%;
                    height: 0;
                    flex: 1;

                    mat-progress-bar{
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }

}

:host::ng-deep{
    article{
        [matlistitemicon]{
            display: flex;
            align-items: center;
            height: 100%;
            margin-top: 0 !important;
            margin-left: 1.75rem;
            margin-right: 1rem;
        }

        [matlistitemmeta]{
            display: flex !important;
            align-items: center;
            height: 100%;
        }

        mat-form-field{
            padding: 0 1.75rem;
        }

        mat-nav-list{
            padding: 0;
        }

        & > [mat-fab]{
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
    }
}