<mat-drawer-container [hasBackdrop]="true">
  <mat-drawer #drawer mode="push"> </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()" *ngIf="!mode || mode === 3; else closeBtn">
        <mat-icon>menu</mat-icon>
      </button>

      <h1>{{ text }}</h1>

      <ng-content select=".actions"></ng-content>
    </mat-toolbar>
    <main>
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <section>
        <article *ngIf="!loadingDM; else loadingScreen">
          <ng-content></ng-content>
        </article>
      </section>
    </main>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #loadingScreen>
  <!-- <article class="banner"> -->
  <mat-spinner></mat-spinner>
  <!-- </article> -->
</ng-template>

<ng-template #closeBtn>
  <a mat-icon-button [routerLink]="['..']">
    <mat-icon>close</mat-icon>
  </a>
</ng-template>
