<mat-list-item [routerLink]="exercise._id">
  <mat-icon matListItemIcon>{{ categoryIcon }}</mat-icon>
  <span matListItemTitle>{{ exercise.name }}</span>
  <span matListItemLine>{{ exercise.description }}</span>
  <div matListItemMeta (click)="$event.stopPropagation()">
    <button mat-icon-button (click)="showVideo()">
      <mat-icon>play_circle_filled</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-list-item>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="showDetail()">
    <mat-icon>info</mat-icon>
    <span>Detalle</span>
  </button>
  <a mat-menu-item [routerLink]="[this.exercise._id, 'edit']">
    <mat-icon>edit</mat-icon>
    <span>Editar</span>
  </a>
  <button mat-menu-item (click)="deleteItem()">
    <mat-icon>delete</mat-icon>
    <span>Borrar</span>
  </button>
</mat-menu>
