:host{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    img{ width: 75%; max-width: 50vh; }
    .pulse{ animation: pulse 3s infinite; }
}

@keyframes pulse{
    0%{ transform: scale(1) }
    50%{ transform: scale(1.1) }
    100%{ transform: scale(1) }
}