@use 'sass:map';
@use '@angular/material' as mat;

// Theming
@mixin color($config) {
    $primary-palette: map.get($config, primary);

    auth-unverified > section > mat-icon{
        color: mat.get-color-from-palette($primary-palette, 500); 
    }
};

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);

    @if $color-config != null { @include color($color-config); };
};