<mat-toolbar color="primary">
  <h2>{{ title }}</h2>
</mat-toolbar>
<form [formGroup]="form" (submit)="submit()">
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="Ingrese un nombre" maxlength="24" #inputName />
      <mat-hint align="end">{{ inputName.value.length }}/24</mat-hint>
      <mat-error>El campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Video</mat-label>
      <input type="url" matInput formControlName="video" placeholder="Ingrese una URL del video" />
      <mat-error>El campo es obligatorio</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" placeholder="Ingrese una descripción" rows="4"></textarea>
      <mat-error>El campo es obligatorio</mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ mode === 3 ? 'aceptar' : 'cancelar' }}</button>
    <button type="submit" mat-button *ngIf="mode !== 3">guardar</button>
  </mat-dialog-actions>
</form>
