<mat-toolbar color="primary">
  <h2>{{ editable ? 'Agregar ejercicio' : 'Visualizar ejercicio' }}</h2>
</mat-toolbar>
<form [formGroup]="form" (submit)="submit()">
  <mat-dialog-content>
    <mat-form-field class="number-field">
      <mat-label>Peso utilizado</mat-label>
      <input type="number" formControlName="real" matInput placeholder="0" min="0" />
      <span matTextSuffix> KGs</span>
      <mat-error>{{ form.get('real')?.errors | formError : 0 }}</mat-error>
      <mat-hint>peso recomendado: {{ weight.meta }} KGs</mat-hint>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" *ngIf="!editable; else actions">aceptar</button>
    <ng-template #actions>
      <button mat-button mat-dialog-close>cancelar</button>
      <button type="submit" mat-button color="primary">guardar</button>
    </ng-template>
  </mat-dialog-actions>
</form>
