<mat-nav-list>
  <mat-list-item (click)="action('detail')">
    <mat-icon matListItemIcon>description</mat-icon>
    <h5 matListItemTitle>Ver detalle</h5>
  </mat-list-item>
  <mat-list-item (click)="action('video')">
    <mat-icon matListItemIcon>play_circle_filled</mat-icon>
    <h5 matListItemTitle>Ver video</h5>
  </mat-list-item>
  <mat-list-item (click)="action('update')">
    <mat-icon matListItemIcon>edit</mat-icon>
    <h5 matListItemTitle>Editar ejercicio</h5>
  </mat-list-item>
  <mat-list-item (click)="action('delete')">
    <mat-icon matListItemIcon>delete</mat-icon>
    <h5 matListItemTitle>Borrar ejercicio</h5>
  </mat-list-item>
</mat-nav-list>
