<shared-layout text="actualizar rutina" [isLoading]="!routine._id">
  <mat-tab-group backgroundColor="primary" class="content">
    <mat-tab label="Detalle">
      <mat-list>
        <mat-list-item>
          <mat-icon matListItemIcon>today</mat-icon>
          <h5 matListItemTitle>{{ 'fecha inicio:' | titlecase }}</h5>
          <span matListItemLine>{{ routine.dateIN | date : 'dd/MM/yyyy' }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon matListItemIcon>event</mat-icon>
          <h5 matListItemTitle>{{ 'fecha fin:' | titlecase }}</h5>
          <span matListItemLine>{{ routine.dateOUT | date : 'dd/MM/yyyy' }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item style="height: auto">
          <mat-icon matListItemIcon>calendar_month</mat-icon>
          <h5 matListItemTitle>{{ 'dias de entrenamiento:' | titlecase }}</h5>
          <mat-chip-listbox matListItemLine>
            <mat-chip *ngFor="let day of routine.days">{{ dayName[day] | titlecase }}</mat-chip>
          </mat-chip-listbox>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon matListItemIcon>speed</mat-icon>
          <h5 matListItemTitle>{{ 'nivel de actividad:' | titlecase }}</h5>
          <span matListItemLine>{{ routine.level | titlecase }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon matListItemIcon>science</mat-icon>
          <h5 matListItemTitle>{{ 'kal para el objetivo:' | titlecase }}</h5>
          <span matListItemLine>{{ routine.kal | number : '1.2-2' }} kal</span>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <mat-icon matListItemIcon>flag</mat-icon>
          <h5 matListItemTitle>{{ 'objetivo:' | titlecase }}</h5>
          <span matListItemLine>{{ routine.objective }}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-tab>
    <mat-tab label="Ejercicios">
      <p>
        <button mat-icon-button (click)="moveDay(-1)" [disabled]="daySelected.index === 0"><mat-icon>navigate_before</mat-icon></button>
        <span>{{ fullDayName[daySelected.index] | uppercase }}</span>
        <button mat-icon-button (click)="moveDay(1)" [disabled]="routine.days && daySelected.index === routine.days.length - 1"><mat-icon>navigate_next</mat-icon></button>
      </p>

      <mat-nav-list>
        <ng-container *ngFor="let exercise of daySelected.exercises; let i = index">
          <mat-list-item (click)="open(exercise)">
            <mat-icon matListItemIcon>fitness_center</mat-icon>
            <h5 matListItemTitle>{{ exercise.name }}</h5>
            <p matListItemLine>{{ exercise.description }}</p>
            <div matListItemMeta>
              <button mat-icon-button (click)="deleteExercise($event, i)"><mat-icon>delete</mat-icon></button>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-nav-list>

      <button mat-fab color="primary" (click)="addExercise()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-tab>
  </mat-tab-group>
</shared-layout>
