<mat-list-item>
  <mat-icon matListItemIcon>person</mat-icon>
  <h5 matListItemTitle>{{ customer?.name | titlecase }} {{ customer?.surname | titlecase }}</h5>
  <div matListItemLine *ngIf="customer?.routine">
    <span>Rutina: {{ customer?.routine?.dateIN | date : 'dd/MM' }} - {{ customer?.routine?.dateOUT | date : 'dd/MM' }}</span>
  </div>
  <div matListItemMeta>
    <button mat-icon-button (click)="actions($event)">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-list-item>
