<figure>
  <img src="https://via.placeholder.com/200" alt="Profile" />
  <figcaption>Hola Mauro</figcaption>
</figure>

<h1>Buen dia!</h1>

<mat-card>
  <mat-card-content>
    <core-shortcut text="Usuarios" link="users" icon="people"></core-shortcut>
    <core-shortcut text="Mi rutina" link="rutina" icon="fitness_center"></core-shortcut>
    <core-shortcut text="Mi nutrición" [disabled]="true"></core-shortcut>
    <core-shortcut text="Calorias" [disabled]="true"></core-shortcut>
    <core-shortcut text="Calorias" [disabled]="true"></core-shortcut>
    <core-shortcut text="Calorias" [disabled]="true"></core-shortcut>
  </mat-card-content>
</mat-card>
