<section>
  <figure>
    <core-profile-image></core-profile-image>
    <figcaption>
      <h2>Hola {{ data?.name }}</h2>
      <h3>Buenas Tardes!</h3>
    </figcaption>
  </figure>

  <mat-card>
    <mat-card-content>
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
      <core-shortcut icon="fitness_center" label="ejercicios" (click)="exercises()"></core-shortcut>
      <core-shortcut icon="manage_accounts" label="mis datos" (click)="profile()"></core-shortcut>
      <core-shortcut icon="logout" label="cerrar sesión" (click)="logout()"></core-shortcut>
    </mat-card-content>
  </mat-card>
</section>
