@use 'sass:map';
@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  h1 { text-align: center; }
  figure, mat-card { flex: 1; }

  figure {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;

    img { border-radius: 50%; }
  }

  mat-card {
    border-radius: 10%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px -2px 1px -1px rgba(0, 0, 0, 0.2), 0px -1px 1px 0px rgba(0, 0, 0, 0.14), 0px -1px 3px 0px rgba(0, 0, 0, 0.12);
    justify-content: center;
    mat-card-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }
}

@mixin color($config) {
  $primary-palette: map.get($config, primary);

  core-home {
    background-color: mat.get-color-from-palette($primary-palette, 300);

    figure,
    h1 {
      color: mat.get-contrast-color-from-palette($primary-palette, A100);
    }
    mat-card {
      background-color: mat.get-color-from-palette($primary-palette, 50) !important;
      color: mat.get-contrast-color-from-palette($primary-palette, 50);
    }
  }
}

@mixin typography($config) {
  core-home {
    figure {
      font-size: mat.font-size($config, 'headline-5') !important;
      line-height: mat.line-height($config, 'headline-5') !important;
    }

    h1 {
      font-size: mat.font-size($config, 'headline-4') !important;
      line-height: mat.line-height($config, 'headline-4') !important;
    }

    mat-card {
      font-size: mat.font-size($config, 'subtitle-2') !important;
      line-height: mat.line-height($config, 'subtitle-2') !important;
      font-weight: mat.font-weight($config, 'subtitle-2') !important;
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $typography-config: mat.get-typography-config($theme);

  @if $color-config != null {
    @include color($color-config);
  }
  @if $typography-config != null {
    @include typography($typography-config);
  }
}