@import "breakpoints";

:host::ng-deep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    router-outlet + *{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: relative;
        @media #{$media-small-up}{
            width: $screen-xsmall;
        }
    }
}