:host{
    height: 100%;
    display: flex;
    flex-direction: column;


    mat-dialog-content{
        display: flex;
        flex-grow: 1;
        max-height: none;
        padding: 0;
    }

    mat-toolbar{ display: flex; }
    [mat-button]{ text-transform: uppercase; }

}