<shared-layout text="Detalle Usuario" [isLoading]="!user._id">
  <mat-list class="content">
    <mat-list-item>
      <mat-icon matListItemIcon>badge</mat-icon>
      <h5 matListItemTitle>Nombre Completo</h5>
      <span matListItemLine>{{ user.name | titlecase }} {{ user.surname | titlecase }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon matListItemIcon>email</mat-icon>
      <h5 matListItemTitle>
        <span>Email</span>
        <mat-icon *ngIf="user.verified">verified</mat-icon>
      </h5>
      <span matListItemLine>{{ user.email }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item>
      <mat-icon matListItemIcon>today</mat-icon>
      <h5 matListItemTitle>Fecha Creado</h5>
      <span matListItemLine>{{ user.dateCreated | date }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</shared-layout>
