<mat-toolbar>
  <a mat-icon-button routerLink="" *ngIf="!mode.new && !isLoading"><mat-icon>arrow_back</mat-icon></a>
  <h1>MI PERFIL</h1>
</mat-toolbar>
<figure>
  <img src="https://via.placeholder.com/200" alt="Profile" />
</figure>
<mat-card>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field appearance="fill" *ngFor="let field of fields">
        <mat-icon matPrefix color="primary">{{ field.icon }}</mat-icon>
        <mat-label>{{ field.label }}</mat-label>
        <input matInput #input [placeholder]="field.placeholder" [formControlName]="field._id" [disabled]="true" [maxlength]="!!field.maxLength ? field.maxLength : null" />
        <mat-hint *ngIf="!!field.maxLength && !input.disabled" align="end">{{ input.value.length }}/{{ field.maxLength }}</mat-hint>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<button mat-fab color="primary" (click)="submit()" *ngIf="!isLoading">
  <mat-icon>{{ mode.icon }}</mat-icon>
</button>
