@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($config) {
    $primary-palette: map.get($config, primary);

    core-profile, core-profile mat-toolbar{
        background-color: mat.get-color-from-palette($primary-palette, 300) !important;
        color: mat.get-contrast-color-from-palette($primary-palette, 300) !important;
    }
    core-profile mat-card{
        background-color: mat.get-color-from-palette($primary-palette, 50) !important;
        color: mat.get-contrast-color-from-palette($primary-palette, 50);
        .mdc-text-field{
            background-color: transparent !important;
        }
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null { @include color($color-config); }
}