:host{
    form{
        position: relative;
        overflow: hidden;
        padding: 1rem;
        padding-top: 2.5rem;

        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        mat-progress-bar{
            position: absolute;
            top: 0;
        }
    }

    button[mat-fab]{ top: -28px; right: 1rem; }
    button[mat-mini-fab], button[mat-fab]{ position: absolute; }
    button[mat-mini-fab]{
        transition: right 300ms ease;
        right: calc(1rem + 8px);
        top: -20px;
        &.active{ right: calc(1rem + 56px + 8px); }
    }
}