<mat-toolbar mat-dialog-title>{{ 'exercise-dialog works!' | titlecase }}</mat-toolbar>

<mat-dialog-content>
  <mat-progress-bar mode="indeterminate" *ngIf="isSaving"></mat-progress-bar>
  <form [formGroup]="form" id="Exercise" (submit)="submit()">
    <mat-form-field>
      <mat-label>Ejercicio</mat-label>
      <mat-icon color="primary" matPrefix>{{ getCategoryIcon(form.controls['category'].value) }}</mat-icon>
      <mat-error>{{ form.controls['exercise'].errors | error }}</mat-error>
      <mat-select formControlName="exercise" placeholder="Seleccione un ejercicio" (selectionChange)="onChangeExercise($event)">
        <mat-option *ngFor="let exercise of $exercises | async" [value]="ref(exercise)">{{ exercise.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Series</mat-label>
      <mat-icon color="primary" matPrefix>format_list_numbered</mat-icon>
      <mat-error>{{ form.controls['series'].errors | error : 0 }}</mat-error>
      <input type="number" formControlName="series" placeholder="Cantidad de series a realizar" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repeticiones</mat-label>
      <mat-icon color="primary" matPrefix>replay</mat-icon>
      <mat-error>{{ form.controls['reps'].errors | error : 0 }}</mat-error>
      <input type="number" formControlName="reps" placeholder="Cantidad de repeticiones a realizar por serie" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>RIR</mat-label>
      <mat-icon color="primary" matPrefix>accessibility_new</mat-icon>
      <mat-error>{{ form.controls['rir'].errors | error }}</mat-error>
      <mat-select formControlName="rir" placeholder="Seleccione un tipo de RIR">
        <mat-option *ngFor="let rir of RIR" [value]="rir">{{ rir | rir }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" color="primary" mat-button mat-dialog-close>cancelar</button>
  <button type="submit" color="primary" form="Exercise" mat-raised-button>guardar</button>
</mat-dialog-actions>
