@use '@angular/material' as mat;

mat-drawer-container{
  flex-grow: 1;

  mat-drawer-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
  }
}

mat-toolbar{
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-primary),
    container-text-color: var(--mat-sys-on-primary),
  ));
}

mat-drawer-container{
  @include mat.sidenav-overrides((
    container-background-color: var(--mat-sys-primary-container),
    container-text-color: var(--mat-sys-on-primary-container),
    content-background-color: var(--mat-sys-primary-container),
    content-text-color: var(--mat-sys-on-primary-container),
    container-width: 15rem,
  ));
}

mat-icon{
  @include mat.icon-overrides((
    color: var(--mat-sys-on-primary),
  ));
}
