<figure>
  <img src="/assets/logo.png" alt="Fitness Trainer Logo" />
</figure>
<mat-card>
  @if (isLoading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
  <mat-card-header>
    <h2>{{ wrapper.title }}</h2>
  </mat-card-header>

  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>

  <mat-card-footer>
    <span>{{ wrapper.footer.text }}</span>
    <a
      [routerLink]="wrapper.footer.link.route"
      routerLinkActive="router-link-active">
      {{ wrapper.footer.link.label }}
    </a>
  </mat-card-footer>
</mat-card>
