@import "breakpoints";

:host{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: $screen-xsmall;
  height: 100%;
}

figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 60%;
    padding: 1rem;
  }
}

mat-card{
  width: 100%;
  padding: 0 1rem;
  justify-content:space-around;

  mat-card-header, mat-card-footer{
    display: flex;
    justify-content: center;
  }

  mat-card-header{
    text-transform: uppercase;
    padding: 1rem;
    h2{ margin: 0; }
  }

  mat-card-footer{
    padding: 1rem;
    gap: .5rem;
  }
}
:host::ng-deep{
  form{
    display: flex;
    flex-direction: column;
  }
}

@media #{$media-xsmall} {
  mat-card{
    padding: 0;
    border-radius: 0;
    flex-grow: 1;
  }
}
