@use '@angular/material' as mat;

@include mat.core();

$primary-palette: (
    50: #f2e8e8, 100: #dec5c5, 200: #c99f9f, 300: #b37979, 400: #a25c5c,
    500: #923f3f, 600: #8a3939, 700: #7f3131, 800: #752929, 900: #631b1b,
    A100: #ffa0a0, A200: #ff6d6d, A400: #ff3a3a, A700: #ff2020,
    contrast: (
        50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff,
        500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff,
        A100: #000000, A200: #000000, A400: #ffffff, A700: #ffffff,
    )
);

$primary: mat.define-palette($primary-palette);
$accent: mat.define-palette($primary-palette);

$typography: mat.define-typography-config();

$theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  ),
  typography: $typography,
));