:host{
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        width: 100%;

        figure{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            width: 100%;
            position: relative;
            margin: 0;

            figcaption{
                display: none;
                text-align: center;
                h2, h3{ margin: 0; }
            }
        }
    }

    mat-card{
        width: 100%;
        border-radius: 2rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        flex-grow: 99;

        mat-card-content{
            padding: 0;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }

    mat-toolbar{
        h1{ text-align: center; flex: 1; }
        core-image-upload{ position: absolute; right: 1rem; }
        a[mat-icon-button]{ position: absolute; }
    }

    &:has(core-home){
        mat-card{ flex-grow: 1 !important; }
        mat-toolbar{
            core-image-upload, a[mat-icon-button], h1{ display: none; }
        }
        
        figcaption{
            display: block !important;
        }
    }
}

:host::ng-deep{
    router-outlet + *{
        flex-grow: 1;
    }
}