<ng-container *ngIf="actions.length <= 2; else moreBtn">
  <button mat-icon-button *ngFor="let action of actions" (click)="select(action)">
    <mat-icon>{{ action.icon }}</mat-icon>
  </button>
</ng-container>

<ng-template #moreBtn>
  <ng-container *ngIf="$isMobile | async; else menuBtn">
    <button mat-icon-button (click)="openBottomSheet()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>
</ng-template>

<ng-template #menuBtn>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let action of actions" (click)="select(action)">
      <mat-icon color="primary">{{ action.icon }}</mat-icon>
      <span>{{ action.text }}</span>
    </button>
  </mat-menu>
</ng-template>
