<mat-toolbar mat-dialog-title>{{ title | titlecase }}</mat-toolbar>

<mat-dialog-content>
  <mat-progress-bar mode="indeterminate" *ngIf="isSaving"></mat-progress-bar>

  <routine-members [customerRef]="form.controls['customer'].value" [adminRef]="form.controls['admin'].value"></routine-members>

  <form [formGroup]="form" id="Routine" (submit)="submit()">
    <mat-form-field>
      <mat-label>Dias de entrenamiento</mat-label>
      <mat-icon color="primary" matIconPrefix>calendar_month</mat-icon>
      <mat-error>{{ form.controls['daysOfWeek'].errors | error }}</mat-error>
      <mat-select formControlName="daysOfWeek" multiple>
        <mat-option *ngFor="let dayOfWeek of daysOfWeek; let i = index" [value]="i">{{ dayOfWeek | uppercase }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Periodo</mat-label>
      <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
      <mat-error>{{ form.controls['dateIN'].errors || form.controls['dateOUT'].errors | error }}</mat-error>
      <mat-date-range-input [rangePicker]="picker" disabled>
        <input matStartDate placeholder="Fecha inicio" formControlName="dateIN" />
        <input matEndDate placeholder="Fecha fin" formControlName="dateOUT" />
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker [dateClass]="highlight(form.controls['daysOfWeek'].value)" [touchUi]="$isMobile | async" [disabled]="false" #picker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>CERRAR</button>
          <button mat-raised-button matDatepickerApply color="primary">ACEPTAR</button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nivel de Intensidad</mat-label>
      <mat-icon color="primary" matIconPrefix>speed</mat-icon>
      <mat-error>{{ form.controls['level'].errors | error }}</mat-error>
      <mat-select formControlName="level">
        <mat-option *ngFor="let level of levels; let i = index" [value]="i">{{ level | uppercase }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Kal. para el objetivo</mat-label>
      <mat-icon color="primary" matIconPrefix>science</mat-icon>
      <mat-error>{{ form.controls['kal'].errors | error }}</mat-error>
      <input type="number" placeholder="0 kals" formControlName="kal" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Objetivo</mat-label>
      <mat-icon color="primary" matIconPrefix>flag</mat-icon>
      <mat-error>{{ form.controls['objective'].errors | error }}</mat-error>
      <textarea formControlName="objective" placeholder="Ingrese el objetivo y meta de calorias para la rutina" [rows]="3" matInput></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" color="primary" *ngIf="!isSaving" mat-button mat-dialog-close>{{ mode === 3 ? 'aceptar' : 'cancelar' }}</button>
  <button type="submit" color="primary" form="Routine" [disabled]="isSaving || form.invalid" *ngIf="mode !== 3" mat-raised-button>guardar</button>
</mat-dialog-actions>
