<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-icon color="primary" matIconPrefix>password</mat-icon>
  <mat-error>{{ control.errors | error }}</mat-error>

  <input
    [type]="type"
    [placeholder]="placeholder"
    [autocomplete]="autocomplete"
    [formControl]="control"
    matInput />

  <button
    type="button"
    [tabIndex]="-1"
    (click)="toggle($event)"
    mat-icon-button
    matSuffix>
    <mat-icon>{{ icon }}</mat-icon>
  </button>
</mat-form-field>
