<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<form [formGroup]="form" (submit)="submit(ngForm)" #ngForm="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" formControlName="email" placeholder="Ingrese su email" matInput />
    <mat-error>{{ form.controls['email'].errors | error }}</mat-error>
    <mat-icon matPrefix>email</mat-icon>
  </mat-form-field>

  <auth-password-form-field [group]="form" name="password"></auth-password-form-field>
  <auth-password-form-field [group]="form" name="password_confirm" label="Confirma Contraseña"></auth-password-form-field>

  <button type="submit" mat-stroked-button color="accent" [disabled]="form.invalid">Registrar</button>
</form>
