html, body { height: 100%; }
body {
    margin: 0;
    display: flex;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


mat-list-item, mat-list-option{
    mat-icon{
        margin-top: auto !important;
        margin-bottom: auto !important;
        font-size: 2rem !important;
        width: 2rem !important;
        height: 2rem !important;
    }
}