:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  height: 100%;
  padding: 0 3rem;
}

:host::ng-deep{
  > mat-icon{
    font-size: 8rem;
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
  }
}