:host{
    [mat-dialog-title]{ color: inherit; }
    mat-dialog-actions{
        justify-content: flex-end;
        [mat-button]{
            text-transform: uppercase;
        }
    }

    mat-dialog-content, .weighs-group{
        display: flex;
        flex-direction: column;
    }
    .number-field{
        input{ text-align: right; }
        [matTextSuffix]{ margin-left: .25rem; }
    }
}