@use 'sass:map';
@use '@angular/material' as mat;
@use './pages/home/home.component.theme.scss' as home;
@use './pages/profile/profile.component.theme.scss' as profile;
@use './components/splash-screen//splash-screen.component.theme.scss' as splash-screen;


@mixin color($config) {
    $primary-palette: map.get($config, primary);

    [mat-calendar-body] .selected_date{
        background-color: mat.get-color-from-palette($primary-palette, 50);
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null { @include color($color-config); }
}

@mixin all-component-themes($theme) {
    @include theme($theme);
    @include home.theme($theme);
    @include profile.theme($theme);
    @include splash-screen.theme($theme);
};