<routine-members [adminRef]="routine?.admin"></routine-members>

<mat-list *ngIf="customer">
  <mat-list-item>
    <mat-icon matListItemIcon>person</mat-icon>
    <div matListItemTitle>Cliente</div>
    <span matListItemLine>{{ customer | user }}</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon matListItemIcon svgIcon="instagram"></mat-icon>
    <div matListItemTitle>Instagram</div>
    <span matListItemLine>{{ customer.instagram }}</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon matListItemIcon>cake</mat-icon>
    <div matListItemTitle>Fecha de nacimiento</div>
    <span matListItemLine>{{ customer.birthday | date : 'shortDate' }} ({{ getAge(customer.birthday) }} años)</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon matListItemIcon>wc</mat-icon>
    <div matListItemTitle>Género</div>
    <span matListItemLine>{{ getGender(customer.gender) }}</span>
  </mat-list-item>
</mat-list>
