:host{
    form{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    article{
        display: flex;
        flex-direction: column;
        padding: 0.5rem 1rem;
        box-sizing: border-box;
    }

    .right{
        text-align: right;
    }

    mat-chip-listbox + mat-select{
        display: none;
    }
}